.App {
  text-align: center;
}

.add-contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input {
  margin-top: 8px;
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border-color: mediumslateblue;
  border-style: double;
}

#add-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  background-color: mediumslateblue;
}

.contact {
}

.contact.completed {
  font-style: italic;
  color: gold;
  text-decoration: dotted;
}
